.chart {
  width: 100%;
  height: 100%;
  padding: 10%;

  .tooltip {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #1f1f1f;
    * {
      font-size: 0.8rem;
      color: #fff;
    }
    .right {
      gap: 0.5rem;
    }
  }
}
.dialogue-plots-group {
  text {
    fill: white;
    font-size: 1.2rem;
  }
}
.story-legend {
  display: flex;
  justify-content: end;
  // flex-direction: column;
  align-items: center;
  // margin-top: 1vh;
  * {
    font-size: 0.8rem;
  }
  gap: 2.5rem;
}
//step1
.bechdel-legend,
.size-legend {
  display: flex;
  flex-direction: column;
  // align-items: end;

  .key {
    margin-bottom: 0.5rem;
  }
  .val {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .legend-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .chip {
    width: 1rem;
    height: 1rem;
    background-color: rgb(93, 102, 111);
  }
}
.size-legend {
  .chip {
    width: 0.6rem;
    height: 0.6rem;
  }
  .chip.big {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.dialogue-container {
  pointer-events: none;
  position: absolute;
  padding: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;

  .dialogue {
    position: absolute;
    top: 0;
    height: fit-content;
    font-size: 0.7rem;
    border: 1px solid #333;
    p {
      display: inline;
      font-size: inherit;
    }
  }
}

.tooltip {
  position: absolute;
  // pointer-events: none;
  background: white;
  color: black;
  visibility: hidden;
}

.unit-posters,
.sample-posters {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  .unit-poster,
  .sample-poster {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.sample-posters {
  border: none;
  opacity: 0;
  > div {
    opacity: 1;
  }
}
.sentiment-sample {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  visibility: hidden;
  opacity: 0;

  .sentiment-sample-box {
    width: 100%;
    padding-right: 10%;
  }

  * {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .legend {
    margin-right: 10%;
    display: flex;
    justify-content: end;
    gap: 0.5rem;

    .legend-item {
      padding: 0.2rem;
      &.female {
        background-color: #e35e6d;
      }
      &.male {
        background-color: #0087a7;
      }
      &.na {
        background-color: #5d666f;
      }
    }
  }
}
