.chart {
  width: 100%;
  height: 100%;
  padding: 10%;
}

//step1
.bechdel-legend {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1vw;
  margin-top: -3%;
  > span {
    font-size: 0.9em;
  }
  .legend-item {
    display: flex;
    gap: 6px;
  }
  .chip {
    width: 1vw;
    height: 1vw;
    background-color: #fff;
  }
}

.dialogue-container {
  pointer-events: none;
  position: absolute;
  padding: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;

  .dialogue {
    height: fit-content;
    font-size: 1vw;
    p {
      display: inline;
      font-size: inherit;
    }
  }
}

.tooltip {
  position: absolute;
  // pointer-events: none;
  background: white;
  color: black;
}

.unit-posters,
.sample-posters {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100px;
  pointer-events: none;

  .unit-poster {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.sample-posters {
  opacity: 0;
  > div {
    opacity: 1;
  }
}
